* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Amatic SC', cursive, sans-serif;
    font-family: 'Bebas Neue', cursive, sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    font-family: 'Nunito', sans-serif;
}

:root {
    --beige: #f5ebdc;
    --azul: #21426E;
    --alba: #EBF054;
    --naranja: #DB5B32;
    --negro: #000042;
    --blackshadow: #04192E;
    --gradient-blue: (270deg, #787874 0, #505467 25%, #1f3259 50%, #00154b 75%, #00003e 100%);
    --potter-font: 'Amatic SC', cursive, sans-serif;
    --big-font: 'Bebas Neue', cursive, sans-serif;
    --roboto-font: 'Roboto Flex', sans-serif;
    --nuni-font: 'Nunito', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-color: var(--beige);
}

a:visited {
    color: black;
}

/* Header y Nav*/

.header {
    max-width: 1300px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px 0 50px;
    box-shadow: 0 4px 10px 0 var(--blackshadow);
}

.logo {
    display: flex;
}

.logo img {
    height: 100px;
    padding-right: 150px;
}

.navbar, .navbar-li {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.navbar {
    display: block;
}

.label-burger > i {
    font-size: 50px;
    display: none;
}

#menu-toggle {
    display: none;

}

.navbar a {
    font-family: var(--nuni-font);
    color: var(--beige);
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
}

.navbar li {
    background-color: var(--naranja);
    border-radius: 5px;
}

.navbar li:hover {
    background-color: var(--azul);
    transition: 300ms;
}
 
body {
    height: 100%;
    background-color: var(--beige);
}

.main-register{
    margin-top: 100px;
}

.register-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
}

.hogwarts-house {
    display: flex;
}

.forms-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

