* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Amatic SC', cursive, sans-serif;
    font-family: 'Bebas Neue', cursive, sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    font-family: 'Nunito', sans-serif;
}

:root {
    --beige: #f5ebdc;
    --azul: #21426E;
    --alba: #EBF054;
    --naranja: #DB5B32;
    --negro: #000042;
    --blackshadow: #04192E;
    --gradient-blue: (270deg, #787874 0, #505467 25%, #1f3259 50%, #00154b 75%, #00003e 100%);
    --potter-font: 'Amatic SC', cursive, sans-serif;
    --big-font: 'Bebas Neue', cursive, sans-serif;
    --roboto-font: 'Roboto Flex', sans-serif;
    --nuni-font: 'Nunito', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-color: var(--beige);
}

a:visited {
    color: black;
}

/* Header y Nav*/

.header {
    max-width: 1300px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px 0 50px;
    box-shadow: 0 4px 10px 0 var(--blackshadow);
}

.logo {
    display: flex;
}

.logo img {
    height: 100px;
}

.navbar, .navbar-li {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.navbar {
    display: block;
}

.navbar a {
    font-family: var(--nuni-font);
    color: var(--azul);
    font-size: 23px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: b;
    color: var(--naranja);
    transition: 300ms;
}

.navbar li:nth-child(4){
    background-color: var(--naranja);
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
}

.navbar li:nth-child(4):hover{
    background-color: var(--azul);
    transition: 300ms;
}

.navbar-li li:nth-child(4) > a {
color: beige;
}

.navbar-li li:nth-child(4) > a:hover {
    color: beige;
    transition: 300ms;
}

.label-burger > i {
    font-size: 50px;
    display: none;
}

#menu-toggle {
    display: none;
}

/* Hero */

.no-select-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none; 
}

.div-section-hero {
    padding-top: 50px;
}

.section-hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: var(--beige);
    background-image: url(/assets/elements/Lord\ Voldemort\ -\ Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1870px;
    
}

.title-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.new-burger-hero {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
}

.new-burger-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-hero {
    padding-bottom: 42px;
    padding-right: 110px;
}

.title-hero h1 {
    font-family: var(--big-font);
    font-size: 1.7rem;
    color: var(--blackshadow);
}

.title-hero h2 {
    font-size: 1.1rem;
    text-align: center;
}

.new-burger-text h3 {
    font-family: var(--big-font);
    font-size: 2.5rem;
    color: var(--naranja);
    text-align: center;
}

.new-burger-text h4 {
    font-family: var(--potter-font);
    font-size: 4.5rem;
    text-align: center;
}

/*Adventages*/

.div-adventage-section .adventage-section {
   padding-top: 50px;
}

.adventage-title {
    display: flex;
    justify-content: center;
}

.adventage-title h4 {
    font-size: 3.5rem;
    text-decoration: overline var(--azul);
}

.adventages-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;
}

.adventages img{
    width: 350px;
    height: 230px;
    object-fit: contain;
}

.adventages p {
    font-family: var(--big-font);
    font-size: 1.7rem;
    color: var(--azul);
}

.adv-1 {
    box-shadow: var(--naranja) 1.95px 1.95px 2.6px;
}

.adv-2 {
    box-shadow: var(--naranja) 1.95px 1.95px 2.6px;
}

.adv-3 {
    box-shadow: var(--naranja) 1.95px 1.95px 2.6px;
}

/*Menu Burger*/

.title-menu{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

/*
.up-page{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.up-page img{
    width: 180px;
}
*/

.title-menu h5 {
    font-family: var(--big-font);
    font-size: 4rem;
}

.div-menu-container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.article-menu-burger{
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.card-burger {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    box-shadow: 0 4px 10px 0 var(--blackshadow);
    padding: 5px 5px 15px 5px;
}

.card-burger:hover {
    box-shadow: 0 4px 10px 0 var(--naranja);
}

.card-burger img{
    width: 350px;
    height: 230px;
    object-fit: cover;
}

.card-burger img:hover {
    transform: scale(1.1);
    transition: 300ms;
}

.name-burger {
    font-family: var(--potter-font);
    font-size: 3rem;
}

.btn {
    font-family: var(--big-font);
    font-size: 1.5rem;
    background-color: var(--blackshadow);
    border-style: solid var(--azul);
    padding: 5px;
    border-radius: 3px;
}

.btn:hover {
    background-color: var(--naranja);
    transition: 300ms;
}

.add-burger {
    font-family: var(--big-font);
    color: var(--beige);
}

.price {
    font-family: var(--big-font);
    color: var(--naranja);
    font-size: 2rem;
}

.img-contain img {
    width: 235px;
    height: 220px;
    object-fit: contain;
}

.card21:hover {
    box-shadow: 0 4px 10px 0 #AE0001;
}

.card22:hover {
    box-shadow: 0 4px 10px 0 #1b7238;;
}

.promo-card img {
    width: 350px;
    height: 230px;
    object-fit: contain;
}

.promo-card img:hover{
    transform: none;
}

.promo-card:hover {
    transform: scale(1.1);
    transition: 300ms;
}

.four-burgers {
    font-family: var(--big-font);
    font-size: 1.5rem;
}

.card-burger li {
    color: var(--azul);
}

.article-promo {
    flex-direction: column;
    padding: 0;
}

.promo-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

/*Contact and Footer*/

.section-contact-container {
    padding-top: 50px;
}

.section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: solid var(--blackshadow);
    padding: 10px 0 10px 0;
}

.section-container span{
    font-family: var(--big-font);
    font-size: 2rem;
    color: var(--naranja);
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-container li {
    padding-bottom: 1.2rem;
}

.contact-container b {
    font-family: var(--nuni-font);
    color: var(--azul);
    font-size: 1.1rem;
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.social-icon a {
    font-size: 2rem;
    color: var(--azul);
}

.social-icon a:hover {
    color: var(--naranja);
    transition: 300ms;
}

.go-home {
    display: flex;
    justify-content: center;
}

.go-home a {
    object-fit: contain;
}

.go-home img {
    height: 100px;
    animation: snitch-levitation 3s infinite ease-in-out ;
}

@keyframes snitch-levitation {
    0% {
        transform: translate(0%, -10%);
    }

    
    50% {
        transform: translate(0, 10%) ;    /*970px de media queries deberia ser*/
    }


    100% {
        transform: translate(0%, -10%);
    }

  }

.location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location iframe {
    width: 300px;
    height: 200px;
}

.location {
    box-shadow: var(--naranja) 1.95px 1.95px 2.6px;
}

.div-footer-container{
    padding: 10px 0 10px 0;
    background-color: cornsilk;
}

.footer-container {
    display: flex;
    justify-content: center;

}

.footer-container b {
    color: var(--azul);
}

.footer-container b:hover {
    color: var(--naranja);
    transition: 300ms;
}

/* Media Queries 960*/

@media (max-width: 960px) {

    /* Menu-Hamburguesa-Header*/

    .navbar ul {
        background-color: var(--beige);
        height: calc(100vh - 100px);    /* Calculamos el 100% del vh menos los px que mide el header */
        position: absolute;
        width: 100%;
        top: 100px;
        left: 0;
        flex-direction: column;
        justify-content: center;                    /* Esto es lo que se muestra al desplegar el menú hamburguesa*/
        align-items: center;
        transform: translateX(-200%);
        transition: 0.4s ease-in-out;
        text-align: center;
        display: flex;
    }

    .navbar i{
        display: block;
        cursor: pointer;
        font-size: 2rem;
    }

    #menu-toggle:checked + .navbar-li {
        transform: translateX(0%);
        opacity: 0.95;
    }

    /* HEADER - MEDIA QUERIES 576px*/

    .header {
        padding: 0 15px 0 15px;
    }

    .logo img {
        height: 75px;
    }

/* HERO - MEDIA QUERIES 576px */

    .new-burger-hero {
        height: 250px;
    }

    .new-burger-hero img {
        height: 280px;
    }

    .section-hero {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-size: 830px;
    }

    .title-hero {
        padding-top: 1rem;
        padding-bottom: 40px;
        padding-right: 0px;
    }
    
    .title-hero h1 {
        font-size: 1.6rem;
    }
    
    .title-hero h2 {
        font-size: 1.2rem;
    }
    
    .new-burger-text h3 {
        font-size: 1.8rem;
    }
    
    .new-burger-text h4 {
        font-size: 4rem;
    }

/* ADVENTAGES - MEDIA QUERIES 576px */

.div-adventage-section .adventage-section {
    padding-top: 30px;
 }
 
 .adventage-title {
     display: flex;
     padding-bottom: 20px;
 }
 
 .adventage-title h4 {
     font-size: 2rem;
     text-decoration: overline var(--azul);
 }
 
 .adventages-box {
     gap: 15px;
 }
 
 .adventages img{
     width: 230px;
     height: 180px;
 }
 
 .adventages p {
     font-size: 1.2rem;
 }

 /* MENU - MEDIA QUERIES 576px */

.title-menu{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.title-menu h5 {
    font-family: var(--big-font);
    font-size: 3rem;
}

.div-menu-container{
    padding-top: 0px;
}

.article-menu-burger{
    padding-top: 25px;
    gap: 1.5rem;
}

.card-burger {
    gap: 5px;
    padding: 4px 4px 8px 4px;
}

.name-burger {
    font-size: 2.2rem;
}

.btn {
    font-size: 1.4rem;
}

.price {
    font-size: 1.7rem;
}

.card-burger img{
    width: 220px;
    height: 150px;
    object-fit: cover;
}

.img-contain img {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.promo-card img {
    width: 270px;
    height: 170px;
    object-fit: contain;
}

.card21:hover {
    box-shadow: 0 4px 10px 0 #AE0001;
}

.card22:hover {
    box-shadow: 0 4px 10px 0 #1b7238;;
}

.four-burgers {
    font-size: 1.3rem;
}

.promo-card-container {
    gap: 2rem;
}

/* CONTACT/FOOTER - MEDIA QUERIES 576px */

.section-container span{
    font-size: 1.8rem;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-container li {
    padding-bottom: 0.5rem;
}

.contact-container b {
    font-size: 1rem;
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.social-icon a {
    font-size: 2rem;
    color: var(--azul);
}

.location {
    box-shadow: var(--naranja) 1.95px 1.95px 2.6px;
}

.div-footer-container{
    padding: 10px 0 10px 0;
    background-color: cornsilk;
}

.footer-container {
    display: flex;
    justify-content: center;

}

.footer-container p {
    font-size: 0.9rem;
    text-align: center;
}

}

/* MEDIA QUERIES 576px */

@media (max-width: 576px) {

    
/* HEADER - MEDIA QUERIES 576px*/

    .header {
        padding: 0 15px 0 15px;
    }

    .logo img {
        height: 75px;
    }

/* HERO - MEDIA QUERIES 576px */

    .new-burger-hero {
        height: 250px;
    }

    .new-burger-hero img {
        height: 260px;
    }

    .section-hero {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-image: none;
    }

    .title-hero {
        padding-bottom: 40px;
        padding-right: 0px;
    }
    
    .title-hero h1 {
        font-size: 1.2rem;
    }
    
    .title-hero h2 {
        font-size: 1rem;
    }
    
    .new-burger-text h3 {
        font-size: 1.5rem;
    }
    
    .new-burger-text h4 {
        font-family: var(--potter-font);
        font-size: 2.5rem;
    }

/* ADVENTAGES - MEDIA QUERIES 576px */

.div-adventage-section .adventage-section {
    padding-top: 25px;
 }
 
 .adventage-title {
     display: flex;
     padding-bottom: 20px;
 }
 
 .adventage-title h4 {
     font-size: 1.6rem;
     text-decoration: overline var(--azul);
 }
 
 .adventages-box {
     gap: 15px;
 }
 
 .adventages img{
     width: 200px;
     height: 150px;
 }
 
 .adventages p {
     font-size: 1rem;
 }

 /* MENU - MEDIA QUERIES 576px */

.title-menu{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.title-menu h5 {
    font-family: var(--big-font);
    font-size: 2rem;
}

.div-menu-container{
    padding-top: 0px;
}

.article-menu-burger{
    padding-top: 25px;
    gap: 1rem;
}

.card-burger {
    gap: 5px;
    padding: 2px 2px 5px 2px;
}

.card-burger:hover {
    box-shadow: 0 4px 10px 0 var(--naranja);
}

.name-burger {
    font-size: 2rem;
}

.btn {
    font-size: 1.2rem;
}

.price {
    font-size: 1.5rem;
}

.card-burger img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.card1 img {
    object-fit: contain;
}

.img-contain img {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.promo-card img {
    width: 250px;
    height: 150px;
    object-fit: contain;
}

.card21:hover {
    box-shadow: 0 4px 10px 0 #AE0001;
}

.card22:hover {
    box-shadow: 0 4px 10px 0 #1b7238;;
}

.four-burgers {
    font-size: 1.2rem;
}

.promo-card-container {
    gap: 1.8rem;
}

/* CONTACT/FOOTER - MEDIA QUERIES 576px */

.section-contact-container {
    padding-top: 25px;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    border-top: solid var(--blackshadow);
    padding: 5px 0 5px 0;
}

.section-container span{
    font-size: 1.5rem;
    padding-top: 5px;
}

.contact-container {
    align-items: center;
}

.contact-container li {
    padding-bottom: 0.2rem;
}

.contact-container b {
    font-size: 1rem;
}

.social-icon {
    gap: 15px;
    
}

.social-icon a {
    font-size: 2rem;
    color: var(--azul);
}

.location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.location iframe {
    width: 220px;
    height: 180px;
}

.div-footer-container{
    padding: 5px 0 5px 0;
    background-color: cornsilk;
}

.footer-container {
    display: flex;
    justify-content: center;

}

.footer-container p {
    font-size: 0.8rem;
    text-align: center;
}

}